:root {
    --mycolor00: #FFFFFF;
    --mycolor99: #111111;
    --mycolor01: #438a56;
    --mycolor02: #48c22d;
    --mycolor03: #5e78eb;
    --mycolor04: #eb885e;
    --mycolor05: #eb5e96;
    --mycolor06: #00ffbf;
    --mycolor07: #FF6B6B;
    --mycolor08: #FFC107;
    --mycolor09: #8BC34A;
    --mycolor10: #03A9F4;
    --mycolor11: #FF4081;
    --mycolor12: #FF9800;
    --mycolor13: #9C27B0;
    --mycolor14: #FF5722;

}


.box {
    width: 200px;
    height: 200px;
    border: 2px solid #fa0;
}

.box01 {
    width: 200px;
    height: 200px;
    border: 2px solid #444;
    padding: 10px;
    box-sizing: border-box;
}

.box02 {
    width: 150px;
    height: 150px;
    border: 2px solid red;
    background-color: var(--mycolor01);
}